@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: #FF800F;
    --secondary: #001064;
    --light: #F6F7F8;
    --dark: #010A35;
    --grey: #696E77;
    --blue: #1b81b1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    color: var(--light);
    min-height: 100vh;
}
nav{
    background-color: var(--light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
}   

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: var(--grey);
    text-decoration: none;
    transition: all .4s ease;
    cursor: pointer;
}

nav img{
    height: 50px;
    width: auto;
    
}

nav a:hover{
    color: var(--primary);
    background-color: var(--grey);
}

nav li:first-child{
    margin-right: auto;
}

nav li:last-child{
    display: none;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: var(--light);
    z-index: 11;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

#visimisi, #about{
    position: relative;
    top: -50px;
}
#layanan{
    position: relative;
    top: -98px;
}

#gallery{
    position: relative;
    top: -89px;
}


@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    nav li:last-child{
        display: flex;
    }
}

@media (max-width: 480px) {
    .sidebar{
        width: 100%;
    }
    nav li:last-child{
        display: flex;
    }
}

/* Hero */
.hero{
    overflow: hidden;
    position: relative;
} 

.bgimage{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;    
    justify-content: center;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    transform: translateZ(0);    
}

.content{    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--light);
    justify-content: center;
    align-items: center;
    padding: 0 20vh 0;
}   
.content h1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-family: "Roboto Slab", serif;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
}

.content p{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding: 20px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 0, 100, 0.4);
    background-clip: content-box;
}

@media (max-width: 900px) {
    .content{
        padding: 0 10vh 0;
    }
}

@media (max-width: 480px) {
    .content{
        padding: 0;
    }
}

@keyframes animate{
    0%{
        background-image: url(images/foto1.png);        
    }
    45%{
        background-image: url(images/foto1.png);
        transform: scale(1.5);
    }
    55%{
        background-image: url(images/foto2.png);        
    }
    95%{
        transform: scale(1);
        background-image: url(images/foto2.png); 
    }
    100%{
        background-image: url(images/foto1.png);
        transform: scale(1);
    }
}

/* Video Youtube */
.youtube{
    padding: 2rem 0 2rem;
    justify-content: center;  
    display: grid;
}
.youtube-title{
    text-align: center;
    color: var(--dark);
    justify-content: center;
    display: flex;
    gap: 0.3rem;
}

.youtube-title ul:nth-of-type(1) h2{
    font-size: 2rem;
    color: var(--dark);
    font-family: "Roboto Slab", serif;
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    padding-bottom: 3rem;
}
.youtube-title ul:nth-of-type(2) h2{
    font-size: 2rem;
    color: var(--primary);
    font-family: "Roboto Slab", serif;
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    padding-bottom: 3rem;
}

.youtube-title ul:nth-of-type(3) h2{
    font-size: 2rem;
    color: var(--blue);
    font-family: "Roboto Slab", serif;
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    padding-bottom: 3rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */  
}

.video-container iframe {
    position: absolute;
    width: 100%; /* Make the iframe fill the width of its container */
    height: 100%;
    max-width: 848px; /* Maximum width of the video */
}

.youtube-video{
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
}

/* Layanan */
.layanan {
    display: flex; /* Tambahkan ini */
    flex-direction: column; /* Tambahkan ini */
    align-items: center; /* Tambahkan ini */
    min-height: 100vh; /* Tambahkan ini untuk full height */
    justify-content: center;
    height: 100%;
    background-color: #f0f0f0;    
    background-attachment: fixed;
    background-size: cover;
    padding: 3rem 2rem 3rem;

}

.section-title{
    font-family: "Roboto Slab", serif;
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    padding-bottom: 3rem;
    text-align: center;
    color: var(--dark);      
}

.card-content{
    padding: 2rem;
    color: var(--primary);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.card-content i{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content h3{
    font-size: clamp(1.2rem, 1vw, 2rem);
}

.fa-wrench, .fa-bolt, .fa-screwdriver-wrench,.fa-handshake {
    border: solid;
    border-radius:50%;
    height: 90px;
    width: 90px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.layanan-title {
    display: flex;
    justify-content: center;
    text-align: center;  
    border-radius: 10px;
    background-color: #FF800F;
    width: 100%;
    height: 80px;  
    color: #fff;
    align-items: center;
}

.layanan-container {
    display: flex;
    justify-content: center; /* Tambahkan ini */
    width: 100%;
    gap: 1.5rem;
    padding: 0 10vh 0;
    max-width: 1200px; /* Tambahkan ini untuk batas maksimum lebar */
}

.layanan-card {
    background: var(--blue);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    justify-content: space-around;
    min-width: 22vw;
}

.layanan-card:hover {
    transform: translateY(-5px);
}

.card-content {
    padding: 2rem;
}

.layanan-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layanan-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.4rem 0;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #e2e8f0;
    color: var(--light);
}

.layanan-item li{
    font-weight: 500;
    color: white;
}

.layanan-item:last-child {
    border-bottom: none;
}

.layanan-item i {
    color: #48bb78;
    font-size: 1.1rem;
}

@media (max-width: 1100px) {
    .layanan, .visimisi {
        height: 100%;
        justify-content: center;        
    }
    
    .layanan-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
        gap: 1.5rem;
        padding: 0;
        justify-content: center;
    }
    
    .card-content{
        padding: 1.5rem;
        justify-content: center;
    }
    
    .layanan-item {
        font-size: 0.9rem;
    }

}

@media (max-width: 480px) {
    .layanan-title {
        font-size: 1.3rem;
    }
    
    .layanan-container {
        grid-template-columns: 1fr; /* Full width untuk mobile */
        max-width: 350px; /* Batasi lebar maksimum */
    }

}

/* Visi dan Misi */
.visimisi{
    display: grid;
    grid-template-columns: 1, 1fr;
    height: 100%;
    min-height: 100vh;
}


.visimisi h1{
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    text-align: center;
    padding: 3rem 0 3rem;
    color: var(--dark);
    font-family: "Roboto Slab", serif;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 7rem 2rem;
}

.img-left img, .img-right img{
    object-fit: cover;
    width: 100%;
}

.text-right, .text-left{
    text-align: justify;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    font-weight: 500;
}

.text-left-heading, .text-right-heading{
    font-size: clamp(1.5rem, 4vw, 4rem);
    padding: 1rem 10px 1rem;
    color: var(--primary);
    border: #010A35 solid 2px;
    background-color: #010A35;
    align-items: center;
}

.text-left-details, .text-right-details{
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 1rem 0 1rem;
}

.text-left li{
    list-style-type: disc;
    margin-left: 1.2rem;
}

@media (max-width: 900px) {
    .visimisi{
        grid-template-columns: 1fr;
    }

    .row{
        padding: 0 1rem 2rem;
    }

    .layanan-title{
        font-size: clamp(1rem, 1vw, 2.5rem);}
}

@media (max-width: 480px) {
    .row{
        grid-template-columns: 1fr;
    }
    
    .img-right img{
        order: 0;
    }
    
    .text-left{
        order: 1;
    }
}

/* Gallery */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 10px;
}
.gallery{
    position: relative;
    background-color: #f0f0f0;
    max-height: 100%;
    padding: 2rem 0 2rem;
}

.gallery .gallery-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    max-height: 500px;
    max-width: 1200px; 
    margin: 0 auto;      
    overflow-y: scroll;
}

.gallery .gallery-container .gallery-item{
    height: 250px;
    width: 350px;
    border: solid 1px var(--light);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
}

.gallery .gallery-container .gallery-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s linear;
}

.gallery .gallery-container .gallery-item:hover img{
    transform: scale(1.1);
}
.gallery .popup-gallery{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 12;
    display: none;
}

.gallery .popup-gallery span{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    color: var(--light);
    cursor: pointer;
    z-index: 11;
}

.gallery .popup-gallery img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    max-width: 95%;
    object-fit: cover;
    border: solid 5px var(--light);
}

/* Tentang Kami */
.about {
    background-color: var(--dark);
    overflow: hidden;
}

.about-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.about-bg-img{
    display: flex;
    justify-content: center;
    position: relative;
}
.about-bg-img img{    
  max-width: 50vw;
  object-fit: cover; 
  aspect-ratio: 2/1;
}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 0, 100, 0.4);
    mix-blend-mode: multiply; 
}
.about-heading{
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    padding: 1rem 0 3rem;
    text-align: center;
    color: var(--light);
    font-family: "Roboto Slab", serif;
    font-weight: 600;
}

.about-details{
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 400;
    padding: 1rem;
}

/* Peta */
.peta{
    width: 100%;
    justify-content: center;
    background-color: var(--dark);
}

.peta h2{
    font-family: 'roboto slab', sans-serif;
    text-align: center;
    font-weight: 600;
    padding-bottom: 1rem;
}

.peta iframe{
    width: 100%;
    height: 50vh;
    border: none;
}

/* footer */
.footer{
    background-color: var(--dark);
    color: var(--light);
    padding: 2rem 0;
}


.footer-container{
    display: flex;
}

.footer-kontak, .footer-lokasi{
    padding: 0 1rem;
    width: 100%;
}

.footer-lokasi h2, .footer-lokasi p,.footer-kontak h2, .footer-kontak p{
    color: var(--light);
    text-align: justify;
    padding: 0 1rem 0.2rem;
    display: flex;
    gap: 1rem;
}

/* Copyright */
.copyright{
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    border-top: var(--light) solid 1px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-top{
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    background: #FF800F;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

#preloader{
    background-color: #fff;
    background-image: url(images/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 13;
}

.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateY(15%);
    transition: all 1s ease-in-out;
    
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}